body {
    background-color: #B0D9B1;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    overflow-x: hidden;
}

nav {
    background-color: #A7D397;
    color: #fff;
    position: absolute;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 29px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #0a0505;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding-left: 40px;
}

nav ul a:hover {
    color: #f9fffe;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #005a03;
}


ul.navbar li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    list-style: none;

}

ul.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


.logo {
    float: left;
    width: 15%;
    height: 15%;
    position: absolute;
    top: -15px;
    left: 2%;
}

.img {
    width: 2400px;
    height: 400px;
    position: absolute;
    top: 70px;
    left: 0px;
}

.content {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 50%;
}

.gradient-box {
    background-color: #B0D9B1;
    border-radius: 10px;
    padding: 20px;
}

.chatbot {
    position: absolute;
    top: 30%;
    left: 75%;
}

.quote-box {
    background-color: #57643a;
    color: white;
    text-align: center;
    position: absolute;
    top: 47rem;
    width: 100%;
    height: 26%;
    max-width: 100%;
}

.quote-box p {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bolder;
    word-spacing: 2px;
    line-height: 1.5;
    margin-left: 15%;
    margin-right: 20%;
    width: 70%;

}

.box1 {
    position: absolute;
    top: 64rem;
    width: 100%;
    height: 29%;
    max-width: 100%;
}

.box1 p {
    font-family: Avenir, sans-serif;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 2px;
    text-align: center;
    margin-left: 15%;
    margin-right: 20%;
    width: 70%;
}

.grp {
    position: absolute;
    top: 80rem;
    width: 50%;
    margin-left: 100px;
    max-width: 100%;
}

.grp h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.grp p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 65%;
}

.img2 {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 80rem;
    left: 700px;
}

.quiz {
    position: absolute;
    top: 105rem;
    left: 35%;
}

.quiz h1 {
    font-size: 24px;
    color: #000000;
}

.stress {
    position: absolute;
    top: 105rem;
    left: 55%;
}

.stress h1 {
    font-size: 24px;
    color: #000000;
}

button {
    background-color: #01c16a;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00691a;
}

footer {
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 120rem;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.newsletter {
    flex: 1;
    padding: 10px;

}

.contact-info {
    flex: 1;
    padding: 10px;
}

h3 {
    font-size: 18px;
}

form {
    display: flex;
    align-items: center;

}

input[type="email"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;

}

button[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.topic {
    margin-left: 5rem;
}

.topic h1 {
    position: absolute;
    top: 100px;
    left: 118px;

}

.letters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    width: 40%;
    padding-left: 40px;
    line-height-step: 1.5;

}

.letter {
    width: 30px;
    height: 30px;
    background-color: #ffffff82;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 2px;
    padding-left: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.symptoms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    margin-left: 100px;
}

.icons {
    align-items: center;
    border-radius: 7px;
    width: 120px;
    margin-left: 22px;
}

.size {
    width: 80%;
    height: 80%;
}

.size1 {
    margin-top: -10px;
    width: 85%;
    height: 90%;
    margin-top: 1rem;
}
.topics {
    cursor: pointer;
  }
  
  .topic-content {
    display: none;
    margin-left: 25px;
  }
  
  h2 {
    color: #000000;
  }
  
  p {
    margin: 10px 0;
  }